<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bugs</title>
</head>
<body>
	<h1>Bug Tracker</h1>
	<hr>
	<ol>
		<% for(var i=0; i< list.length; i++){ %>
			<li><%= list[i].title %></li>
		<% } %>
	</ol>
</body>
</html>