<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bugs</title>
</head>
<body>
	<h1>Bug Tracker</h1>
	<hr>
	<form method="post">
		<label for="">Title :</label>
		<input type="text" name="bugTitle" id="">
		<input type="submit" value="Save">
	</form>
</body>
</html>